// Heading Color
$heading: #232323;

// Text Color
$text: #666666;

// Gray Background
$bg-gray: #f4f4f4;

// Primary Color
$primary: #f55656;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;

// Border Color
$border: #ebebeb;

// Hover Color
$hover: #f55656;

// Secondary Color
$secondary: #a6a6a6;
