
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">


<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../Content/theme/img/bg-img/2.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <h2 class="title mt-70">About Us</h2>
            </div>
        </div>
    </div>
</div>
<div class="breadcumb--con">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->
<!-- ****** About Us Area Start ******* -->
<section class="about-us-area section-padding-0-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="about-us-content">
                    <img src="./img/bg-img/20.jpg" class="mb-30" alt="">

                    <h1 class="center-title">Our Team</h1>
                    <div class="profile-card-container">
                        <div class="card profile-card single-card-container">
                            <img class="card-img-top rounded-circle profile-pics" src="~/Content/profilePics/profile_kostas.jpg">
                            <div class="card-body card-align-center">
                                <h5 class="card-title">Argyropoulos Konstantinos</h5>
                                <p class="card-text">Entry Level Full-Stack Developer</p>
                                <a href="https://www.linkedin.com/in/konstantinos-argyropoulos-1303588a/" class="btn linkedin-button"><i class="fab fa-linkedin-in"></i><div class="linkedin">LinkedIn</div></a>
                                <a href="https://github.com/costas123" class="btn github-button"><i class="fab fa-github"></i><div class="github">GitHub</div></a>
                            </div>
                        </div>

                        <p class="paragraph-container">
                            Graduated from Department of Computer Science at the University of East London. Has developed many programming skills during his studies. Also has a passion for new technologies and
                            staying up to date with front end development as well as expanding his horizons in the back end and further his coding experience. Looking to work somewhere that will fulfill the
                            need to create applications, and make life easier.
                        </p>


                        <div class="card profile-card single-card-container">
                            <img class="card-img-top rounded-circle profile-pics" src="~/Content/profilePics/profile_themistoklis.jpg">
                            <div class="card-body card-align-center">
                                <h5 class="card-title">Papageorgiou Themistoklis</h5>
                                <p class="card-text">Entry Level Full-Stack Developer</p>
                                <a href="https://www.linkedin.com/in/papageorgiou-themistoklis-6805b41ab/" class="btn linkedin-button"><i class="fab fa-linkedin-in"></i><div class="linkedin">LinkedIn</div></a>
                                <a href="https://github.com/Themistoklis-Papageorgiou" class="btn github-button"><i class="fab fa-github"></i><div class="github">GitHub</div></a>
                            </div>
                        </div>

                        <p>
                            Finished his studies in Department of Computer Science at the University of Greenwich. Has acquired various technical skills assisting in the development of small indie games,
                            experimenting in pixel art and 3d design. Ambitious, perfectionist, always paying attention even to minor details. Anticipating to face the challenges of working in a modern day software
                            development company.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ****** About Us Area End ****** -->