.box {
    display: block;
    margin: 50px;
    /*border-color: black;
    border-style: solid;
    border-width: 10px;*/
}

.carouselSize {
    width: 60%;
}

.centerCarousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerText {
    text-align: center;
}

.login-container {
    display: flex;
    margin-left: 400px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
}

.orange-button {
    background-color: #f55555;
    color: white;
}

.register-container {
    display: flex;
    margin-left: 400px;
    flex-direction: column;
}

.external-login-container {
    margin-top: 50px;
}

.thank-you-title {
    margin-left: 400px;
}

div.panel-body {
    overflow: scroll;
    background-color: lightgray;
}

.main-button{
    width: 73%;
}

.chat-title {
    margin-left: 10px;
    margin-top: 20px;
}

.chat-description {
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.contact-title {
    text-align: right;
}

.chat-button {
    background-color: #f55555;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 27px;
}

.details-container {
    display: flex;
    flex-direction:row;
}

.card-details {
    max-width: 700px;
}

.album-photo {
    max-width: 400px;
    margin-left: 50px;
}

.logout-button {
    border: none;
    background: none;
    padding: 0;
    color: white;
    z-index: 1;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    transition-duration: 500ms;
    text-decoration: none;
    outline: none;
    font-family: "HK Grotesk";
    margin-left: 10px;
}
    .logout-button:hover {
        color: #f55656;
        cursor: pointer;
    }