.box {
    display: block;
    margin: 50px;
    /*border-color: black;
    border-style: solid;
    border-width: 10px;*/
}

.carouselSize {
    width: 60%;
}

.centerCarousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerText {
    text-align: center;
}