.box {
    display: block;
    margin: 50px;
    /*border-color: black;
    border-style: solid;
    border-width: 10px;*/
}

.carouselSize {
    width: 60%;
}

.centerCarousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerText {
    text-align: center;
}

.login-container {
    display: flex;
    margin-left: 400px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
}

.orange-button {
    background-color: #f55555;
    color: white;
}

.register-container {
    display: flex;
    margin-left: 400px;
    flex-direction: column;
}

.external-login-container {
    margin-top: 50px;
}

.thank-you-title {
    margin-left: 400px;
}

div.panel-body {
    overflow: scroll;
    background-color: lightgray;
}

/*.message-right {
    display: flex;
    color: blue;
    text-align: right;
    margin-left: 100px;
}*/
