@model ProjectMusic.Web.Models.StatsViewModel
@using System.Linq;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


    <div style="margin: 400px; border: 2px solid black; padding: 20px;">

        <h1 style="margin-bottom: 20px">Best-Selling Albums</h1>

        @{
            var bestSellingAlbums = Model.Albums.OrderByDescending(x => x.AlbumPurchases);
            var bestSellingAlbum = Model.Albums.OrderByDescending(x => x.AlbumPurchases).Select(x => x.AlbumName).FirstOrDefault();
            var bestSellingNum = Model.Albums.OrderByDescending(x => x.AlbumPurchases).Select(x => x.AlbumPurchases).FirstOrDefault();
        }

        @foreach (var album in bestSellingAlbums)
        {
            <h4>@album.AlbumName</h4>
            <div>@album.AlbumPurchases</div>
        }

        <h1>Best-Selling Album: @bestSellingAlbum with @bestSellingNum sales</h1>
    </div>