<!-- Main Header Start -->
<div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="pocaNav">

            <!-- Logo -->
            <a class="nav-brand" href="../UserHome"><img src="~/Content/theme/img/core-img/logo.png" alt=""></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">
                <!-- Nav Start -->
                <div class="classynav">
                    <ul id="nav">
                        <li class="current-item"><a href="../User/UserHome">Home</a></li>
                        <li><a href="../User/UserAlbums">Albums</a></li>
                        <li><a href="../User/UserOrder">Orders</a></li>
                        <li><a href="../User/UserAbout">About</a></li>
                        <li><a href="../User/UserContact">Contact</a></li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>
    </div>
</div>
