@model ProjectMusic.Entities.Domain.Song

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h4>Song Deletion</h4>
    <hr />

    <div class="mb-2 card card-body w-50">

        <h5 class="card-title">Song Id</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.SongId)</h6>

        <h5 class="card-title">Song Name</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.SongName)</h6>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <input type="submit" value="Delete" class="btn btn-danger mt-4 main-button" />
                <a href="/Admin/Song" class="btn btn-primary mt-4 w-25 float-right">Back to List</a>
            </div>
        }
    </div>
</div>
