<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Poca - Podcast &amp; Audio Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="icon" href="~/Content/theme/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/Content/theme/style.css">

    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <div>
        <!-- Preloader -->
        <div id="preloader">
            <div class="preloader-thumbnail">
                <img src="../Content/theme/img/core-img/preloader.png" alt="">
            </div>
        </div>

        <header class="header-area">
            @RenderPage("~/Areas/User/Views/Shared/Components/_NavigationBarUser.cshtml")
        </header>

        @RenderBody()

        <footer class="footer-area section-padding-80-0">
            @RenderPage("~/Areas/User/Views/Shared/Components/_FooterUser.cshtml");
        </footer>
    </div>

    <!-- ******* All JS ******* -->
    <!-- jQuery js -->
    <script src="~/Content/theme/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/theme/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Content/theme/js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="~/Content/theme/js/poca.bundle.js"></script>
    <!-- Active js -->
    <script src="~/Content/theme/js/default-assets/active.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>